<script>
$(function(){
    $("a[rel=tooltip]").tooltip();
});
$(function(){
  $(".alert").alert();
});
$(function(){
  $(".tabs").button();
});
$(function(){
  $(".carousel").carousel();
});
$(function(){
  $(".collapse").collapse();
});
$(function(){
  $(".dropdown-toggle").dropdown();
});
$(function(){
  $(".modal").modal;
});
$(function(){
  $("a[rel]").popover;
});
$(function(){
  $(".navbar").scrollspy();
});
$(function(){
  $(".typeahead").typeahead();
});
$(function(){
  $(".tab").tab("show") ;
});
</script>
<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.jp/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
  <%= link_to "pupover", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("https://rubyonrails.org/images/rails-logo.svg", alt: "Rails",  width: "220", height: "78" ), 'http://rubyonrails.org/' %>
