<script>
$(function() {
  $('[data-toggle="popover"]').popover({
    html: true,
    container: 'body',
    content: function () {
      var contentId = '#' + $(this).data('content-id');
      return $(contentId).html();
    }
  }).on('shown.bs.popover', function(e){
    var popover = jQuery(this);
    $('[data-dismiss="popover"]').on('click', function(e){
      popover.popover('hide');
    });
  });
});

</script>
<div class="center hero-unit">
  <h1>popover おためし</h1>
  <h2>chenge popover size</h2>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<button type="button" 
        class="btn btn-link" 
        data-toggle="popover" 
        data-placement="bottom"
        data-content-id="myModal">Click to toggle popover</button>

<br/>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" id="close" class="btn btn-default" data-dismiss="modal">modal Close</button>
        <button type="button" id="close" class="btn btn-default" data-dismiss="popover">popover Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

